<!-- Projects Section-->
    <section class="py-5">
        <div class="container px-3 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-10 col-xxl-8">
<!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <img class="card-img-top img-fluid" src="https://solidus-songlor.sgp1.cdn.digitaloceanspaces.com/Screenshot%202566-09-24%20at%2022.19.46.png" alt="..." />
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder text-primary">Songlor</h2>
                                        <p>An E-commerce Marketplace Motorbike & Accessories Website in Thailand all built on Ruby on Rails!</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <img class="card-img-top img-fluid" src="https://solidus-songlor.sgp1.cdn.digitaloceanspaces.com/Screenshot%202566-09-24%20at%2022.19.57.png" alt="..." />
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder text-primary">Valhalla</h2>
                                        <p>An E-commerce Alcohol Online Store in Thailand featuring the latest craft beers, wine, champagne and liquor you could imagine all built on Shopify</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Project Card 3-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <img class="card-img-top img-fluid" src="https://solidus-songlor.sgp1.cdn.digitaloceanspaces.com/Screenshot%202566-09-24%20at%2022.20.17.png" alt="..." />
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder text-primary">Craft Delivery Thailand</h2>
                                        <p>An E-commerce Alcohol Online Store in Thailand featuring the latest craft beers you could imagine all built on Shopify</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Project Card 4-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <img class="card-img-top img-fluid" src="https://solidus-songlor.sgp1.cdn.digitaloceanspaces.com/Screenshot%202566-09-24%20at%2022.36.20.png" alt="..." />
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder text-primary">Windy Fight Gear</h2>
                                        <p>An E-commerce Muay Thai Online Store in Thailand featuring the latest boxing equipment you could imagine all built on Shopify</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Project Card 5-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <img class="card-img-top img-fluid" src="https://solidus-songlor.sgp1.cdn.digitaloceanspaces.com/Screenshot%202566-09-24%20at%2022.20.40.png" alt="..." />
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder text-primary">Kuhlbarra</h2>
                                        <p>An E-commerce full of wide ranges of Seafood in Singapore you could imagine all built on Shopify</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

