<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-gradient">Copyright &copy; Martin John Turner Portfolio 2023</div>
        </div>
        <div class="col-auto">
            <a class="small text-gradient" href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a class="small text-gradient" href="#!">Terms</a>
            <span class="mx-1 ">&middot;</span>
            <a class="small text-gradient" href="/pages/contact">Contact</a>
        </div>
      </div>
    </div>
</footer>
